<link
    href="/vendor/datatables/css/jquery.dataTables.min.css"
    rel="stylesheet"
/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>원료수불부</h4>
                <span class="mt-1">원료수불부 작성</span>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Table</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Datatable</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">원료 입고 내역</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                            id="receiptTable"
                            class="production"
                            style="min-width: 960px"
                        >
                            <thead style="text-align: right;">
                                <tr>
                                    <th style="text-align: left;">입고 날짜</th>
                                    <th>제품명</th>
                                    <th>카테고리</th>
                                    <th>입고 수량</th>
                                    <th>단위당 가격</th>
                                    <th>총 금액</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: right;">
                                <% receipts.forEach(function(receipt) { %>
                                    <tr>
                                        <td style="text-align: left;"><%= new Date(receipt.created_at).toLocaleDateString() %></td>  <!-- 입고날짜 -->
                                        <td><%= receipt.RawMaterial.raw_material_name %></td>  <!-- 원료명 -->
                                        <td><%= receipt.RawMaterial.category %></td>  <!-- 카테고리 -->
                                        <td><%= Math.floor(receipt.quantity)%><%= receipt.RawMaterial.unit %></td>  <!-- 입고 수량 (소수점 제거) -->
                                        <td>￦<%= (Math.floor(receipt.unit_price / receipt.quantity)).toLocaleString() %></td>  <!-- 제품당 가격 -->
                                        <td>￦<%= (receipt.unit_price).toLocaleString() %></td>  <!-- 총 금액 (세 자리마다 쉼표, 원) -->
                                        <td><%= receipt.description %></td>  <!-- 비고 -->
                                    </tr>
                                    <% }); %>
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">원료 출고 내역</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                            id="usageTable"
                            class="production"
                            style="min-width: 845px"
                        >
                            <thead style="text-align: right;">
                                <tr>
                                    <th style="text-align: left;">출고 날짜</th>
                                    <th>제품명</th>
                                    <th>카테고리</th>
                                    <th>출고 수량</th>
                                    <th>출고처</th>
                                    <th></th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: right;">
                                <% usages.forEach(function(usage) { %>
                                    <tr>
                                        <td style="text-align: left;"><%= new Date(usage.created_at).toLocaleDateString() %></td>  <!-- 출고날짜 -->
                                        <td><%= usage.RawMaterial.raw_material_name %></td>  <!-- 원료명 -->
                                        <td><%= usage.RawMaterial.category %></td>  <!-- 카테고리 -->
                                        <td><%= Math.floor(usage.quantity_used)%><%= usage.RawMaterial.unit %></td>  <!-- 출고 수량 (소수점 제거) -->
                                        <td><%= usage.batch_id ? `Batch ${usage.batch_id}` : '임의 출고' %></td>  <!-- batch_id -->
                                        <td></td>
                                        <td><%= usage.description %></td>  <!-- 비고 -->
                                    </tr>
                                <% }); %>
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">원료 재고 내역</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                            id="inventoryTable"
                            class="production"
                            style="min-width: 845px"
                        >
                            <thead style="text-align: right;">
                                <tr>
                                    <th>제품명</th>
                                    <th>카테고리</th>
                                    <th>현재 재고량</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: right;">
                                <% rawMaterials.forEach(function(material) { %>
                                    <tr>
                                        <td><%= material.raw_material_name %></td>  <!-- 원료명 -->
                                        <td><%= material.category %></td>  <!-- 카테고리 -->
                                        <td>
                                            <%= Math.floor(material.today_stock) %><%= material.unit %>  <!-- 현재 재고량 (소수점 제거) -->
                                          </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><%= material.description %></td>  <!-- 비고 -->
                                    </tr>
                                <% }); %>
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body" style="padding-top: 12px; padding-bottom: 12px;">
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex"></div>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#editInventoryModal"
                            style="
                                float: right;
                                margin-right: 0.725rem;"
                            >원료 재고 변경
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#addUsageModal"
                            style="
                            float: right;
                            margin-right: 0.725rem;"
                            >원료 출고 작성
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#addMaterialModal"
                            style="
                                float: right;
                                margin-right: 0.725rem;"
                            >원료 입고 작성
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button
                            type="button"
                            class="btn btn-outline-info"
                            data-toggle="modal" 
                            data-target="#excelDownloadModal" 
                            style="
                                padding: 0.5rem 1.875rem;
                                font-size: 1.2rem;
                                float: right;
                                margin-right: 0.725rem;"
                        >
                            Excel로 다운로드
                        </button>
                    </div>
              </div>
            </div>
        </div>
    </div>

  </div>
</div>
  
<!-- 원료 추가 모달 -->
<div class="modal fade" id="addMaterialModal" tabindex="-1" role="dialog" aria-labelledby="addMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addMaterialModalLabel">원료 추가</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 원료명 드롭다운 또는 새로운 원료 입력 -->
          <div class="form-group">
            <label for="materialName">제품명</label>
            <select id="materialNameSelect" class="form-control">
              <option value="">제품 선택...</option>
              <% rawMaterials.forEach(function(material) { %>
              <option value="<%= material.raw_material_name %>"><%= material.raw_material_name %></option>
              <% }); %>
              <option value="new">새로운 제품 추가</option>
            </select>
            <input type="text" id="newMaterialName" class="form-control mt-2" placeholder="추가할 제품명 입력" style="display: none;">
          </div>
  
          <!-- 카테고리 입력 -->
          <div class="form-group" id="categoryGroup" style="display: none;">
            <label for="category">카테고리</label>
            <input type="text" id="category" class="form-control" placeholder="카테고리 입력 (ex. 물, 쌀, 효모 등)">
          </div>
  
          <!-- 단위 입력 -->
          <div class="form-group" id="unitGroup" style="display: none;">
            <label for="unit">단위</label>
            <input type="text" id="unit" class="form-control" placeholder="단위 입력 (예: kg)">
          </div>
  
          <!-- 입고 수량 입력 -->
          <div class="form-group">
            <label for="quantity">입고 수량</label>
            <div class="input-group">
                <input type="number" id="quantity" class="form-control" placeholder="입고 수량 입력">
                <div class="input-group-append">
                    <span class="input-group-text" id="unitLabel">단위</span> <!-- 단위 표시 부분 -->
                </div>
            </div>
          </div>
  
          <!-- 단가 입력 -->
          <div class="form-group">
            <label for="unitPrice">총 금액</label>
            <input type="number" id="unitPrice" class="form-control" placeholder="총 금액 입력">
          </div>
  
          <!-- 비고 입력 -->
          <div class="form-group">
            <label for="description">비고</label>
            <textarea id="description" class="form-control" placeholder="비고 입력 (처음 추가하실 때는 제품 설명을 적어주세요.)"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" id="saveMaterialButton">저장</button>
        </div>
      </div>
    </div>
  </div>

<!-- 출고 작성 모달 -->
<div class="modal fade" id="addUsageModal" tabindex="-1" role="dialog" aria-labelledby="addUsageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUsageModalLabel">출고 작성</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 원료명 선택 (기존 원료만 선택) -->
          <div class="form-group">
            <label for="materialName">제품명</label>
            <select id="materialNameSelectUsage" class="form-control">
              <option value="">제품 선택...</option>
              <% rawMaterials.forEach(function(material) { %>
              <option value="<%= material.raw_material_name %>"><%= material.raw_material_name %></option>
              <% }); %>
            </select>
          </div>
  
          <!-- 출고 수량 입력 -->
          <div class="form-group">
            <label for="quantityUsage">출고 수량</label>
            <div class="input-group">
              <input type="number" id="quantityUsage" class="form-control" placeholder="출고 수량 입력">
              <div class="input-group-append">
                <span class="input-group-text" id="unitLabelUsage">단위</span> <!-- 단위 표시 -->
              </div>
            </div>
          </div>
  
          <!-- 출고처 (batch_id로 사용) -->
          <div class="form-group">
            <label for="batchId">출고처 (Batch ID)</label>
            <input type="text" id="batchId" class="form-control" placeholder="출고처 입력">
          </div>
  
          <!-- 비고 입력 -->
          <div class="form-group">
            <label for="usagedescription">비고</label>
            <textarea id="usagedescription" class="form-control" placeholder="비고 입력"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" id="saveUsageButton">저장</button>
        </div>
      </div>
    </div>
  </div>

<!-- 원료 재고 변경 모달 -->
<div class="modal fade" id="editInventoryModal" tabindex="-1" role="dialog" aria-labelledby="editInventoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editInventoryModalLabel">원료 재고 변경</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- 원료명 선택 (기존 원료만 선택) -->
          <div class="form-group">
            <label for="materialName">제품명</label>
            <select id="materialNameSelectInventory" class="form-control">
              <option value="">제품 선택...</option>
              <% rawMaterials.forEach(function(material) { %>
              <option value="<%= material.raw_material_name %>"><%= material.raw_material_name %></option>
              <% }); %>
            </select>
          </div>
  
          <!-- 현재 재고량 표시 -->
          <div class="form-group">
            <label for="todayStock">현재 재고량</label>
            <input type="text" id="todayStock" class="form-control" disabled>
          </div>
  
          <!-- 변경할 재고량 입력 -->
          <div class="form-group">
            <label for="newInventory">변경할 재고량</label>
            <input type="number" id="newInventory" class="form-control" placeholder="재고량 입력">
          </div>
  
          <!-- 단위 표시 -->
          <div class="form-group">
            <label for="unitInventory">단위</label>
            <input type="text" id="unitInventory" class="form-control" disabled>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" id="saveInventoryButton">저장</button>
        </div>
      </div>
    </div>
  </div>


<!-- Excel 다운로드 모달 -->
<div class="modal fade" id="excelDownloadModal" tabindex="-1" aria-labelledby="excelDownloadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="excelDownloadModalLabel">다운로드할 항목 선택</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="excelDownloadForm">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="receipts" name="dataOptions" value="receipt">
                      <label class="form-check-label" for="receipts" style="color :black">입고</label>
                  </div>
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="usages" name="dataOptions" value="usage">
                      <label class="form-check-label" for="usages" style="color :black">출고</label>
                  </div>
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="inventory" name="dataOptions" value="inventory">
                      <label class="form-check-label" for="inventory" style="color :black">재고</label>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              <button type="button" class="btn btn-primary" id="downloadExcelButton">다운로드</button>
          </div>
      </div>
  </div>
</div>

<script src="/js/reportmodal.js"></script>
<script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/js/plugins-init/datatables.init.js"></script>