<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, welcome back!</h4>
                <p class="mb-0">Your business dashboard template</p>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="javascript:void(0)">Components</a>
                </li>
            </ol>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Form step</h4>
                </div>
                <div class="card-body">
                    <form
                        action="#"
                        id="step-form-horizontal"
                        class="step-form-horizontal"
                    >
                        <div>
                            <h4 class="d-inline-block">레시피</h4>
                            <!-- 레시피 추가 버튼 -->
                            <button
                                type="button"
                                class="btn btn-primary d-inline-block ml-2"
                                data-toggle="modal"
                                data-target="#recipeModal"
                            >
                                추가
                            </button>

                            <!-- 레시피 추가 모달 -->
                            <div
                                class="modal fade"
                                id="recipeModal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="recipeModalLabel"
                                aria-hidden="true"
                            >
                                <div
                                    class="modal-dialog modal-dialog-centered"
                                    role="document"
                                >
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="recipeModalLabel"
                                            >
                                                레시피 추가
                                            </h5>
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close"
                                            >
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="recipeForm">
                                                <div class="form-group">
                                                    <label
                                                        for="recipeNameInput"
                                                    >
                                                        레시피 이름
                                                    </label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="recipeNameInput"
                                                        placeholder="레시피 이름을 입력하세요"
                                                        required
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="recipeDetailInput"
                                                    >
                                                        레시피 정보
                                                    </label>
                                                    <!-- 레시피 정보 필드 (원재료 입력) -->
                                                    <button
                                                        type="button"
                                                        class="btn btn-success"
                                                        onclick="addIngredientField()"
                                                    >
                                                        +
                                                    </button>
                                                </div>
                                                <!-- 원재료 입력 필드 -->
                                                <div id="ingredientFields">
                                                    <div class="form-group row">
                                                        <div class="col-5">
                                                            <label
                                                                for="ingredientNameInput"
                                                            ></label>
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                placeholder="원재료 이름"
                                                            />
                                                        </div>
                                                        <div class="col-5">
                                                            <label
                                                                for="ingredientAmountInput"
                                                            ></label>
                                                            <input
                                                                type="text"
                                                                class="form-control"
                                                                placeholder="사용량"
                                                            />
                                                        </div>
                                                        <div
                                                            class="col-2 d-flex align-items-end"
                                                        ></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="productNameInput"
                                                    >
                                                        제품 이름
                                                    </label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="productNameInput"
                                                        placeholder="제품 이름을 입력하세요"
                                                        required
                                                    />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                            >
                                                닫기
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-primary"
                                                onclick="submitRecipe()"
                                            >
                                                저장
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section>
                                <div class="card-body">
                                    <div class="row ml-2">
                                        <div class="col-lg-6 mb-4">
                                            <div class="form-group">
                                                <label class="text-label">
                                                    레시피 선택
                                                </label>
                                                <select
                                                    class="form-control"
                                                    id="recipeSelect"
                                                    onchange="populateRecipeDetails()"
                                                >
                                                    <option value="" required>
                                                        레시피를 선택하세요
                                                    </option>
                                                    <%
                                                    recipes.forEach(function(recipe)
                                                    { %>
                                                    <option
                                                        value="<%= recipe.id %>"
                                                        data-name="<%= recipe.recipe_name %>"
                                                        data-info="<%= recipe.recipe_detail %>"
                                                        data-product="<%= recipe.product_name %>"
                                                    >
                                                        <%= recipe.recipe_name
                                                        %>
                                                    </option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ml-2">
                                        <div class="col-lg mb-4">
                                            <div class="form-group">
                                                <label class="text-label">
                                                    레시피 이름
                                                </label>
                                                <input
                                                    type="text"
                                                    id="recipeName"
                                                    class="form-control"
                                                    placeholder=""
                                                    required
                                                    readonly
                                                />
                                            </div>
                                        </div>

                                        <div class="col-lg mb-4">
                                            <div class="form-group">
                                                <label class="text-label">
                                                    레시피 정보
                                                </label>
                                                <div class="input-group">
                                                    <input
                                                        type="text"
                                                        id="recipeInfo"
                                                        class="form-control"
                                                        placeholder=""
                                                        required
                                                        readonly
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-4 ml-2">
                                        <div class="form-group">
                                            <label class="text-label">
                                                제품 이름
                                            </label>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    id="productName"
                                                    class="form-control"
                                                    placeholder=""
                                                    required
                                                    readonly
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <h4 class="d-inline-block">발효조</h4>
                            <!-- 발효조 추가 버튼 -->
                            <button
                                type="button"
                                class="btn btn-primary d-inline-block ml-2"
                                data-toggle="modal"
                                data-target="#fermenterModal"
                            >
                                추가
                            </button>

                            <!-- 발효조 추가 모달 -->
                            <div
                                class="modal fade"
                                id="fermenterModal"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="fermenterModalLabel"
                                aria-hidden="true"
                            >
                                <div
                                    class="modal-dialog modal-dialog-centered"
                                    role="document"
                                >
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="fermenterModalLabel"
                                            >
                                                발효조 추가
                                            </h5>
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-label="Close"
                                            >
                                                <span aria-hidden="true">
                                                    &times;
                                                </span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="fermenterForm">
                                                <div class="form-group">
                                                    <label
                                                        for="fermenterLineInput"
                                                    >
                                                        발효조 라인
                                                    </label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        id="fermenterLineInput"
                                                        placeholder="발효조 라인을 입력하세요"
                                                        required
                                                    />
                                                </div>
                                                <div class="form-group">
                                                    <label
                                                        for="fermenterVolumeInput"
                                                    >
                                                        발효조 크기
                                                    </label>
                                                    <input
                                                        type="number"
                                                        class="form-control"
                                                        id="fermenterVolumeInput"
                                                        placeholder="발효조 크기를 입력하세요"
                                                        required
                                                    />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-dismiss="modal"
                                            >
                                                닫기
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-primary"
                                                onclick="submitFermenter()"
                                            >
                                                저장
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section>
                                <div class="card-body">
                                    <div class="col-lg-6 mb-4 ml-2">
                                        <div class="form-group">
                                            <label class="text-label">
                                                발효조 선택
                                            </label>
                                            <select
                                                class="form-control"
                                                id="fermenterSelect"
                                                onchange="populateFermenterDetails()"
                                            >
                                                <option value="">
                                                    발효조를 선택하세요
                                                </option>
                                                <%
                                                fermenters.forEach(function(fermenter)
                                                { %>
                                                <option
                                                    value="<%= fermenter.id %>"
                                                    data-volume="<%= fermenter.fermenter_volume %>"
                                                    data-line="<%= fermenter.fermenter_line %>"
                                                >
                                                    <%=
                                                    fermenter.fermenter_line%>
                                                </option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row ml-2">
                                        <div class="col-lg mb-4">
                                            <div class="form-group">
                                                <label class="text-label">
                                                    발효조 크기
                                                </label>
                                                <input
                                                    type="text"
                                                    id="fermentationSize"
                                                    class="form-control"
                                                    placeholder=""
                                                    required
                                                    readonly
                                                />
                                            </div>
                                        </div>
                                        <div class="col-lg mb-4">
                                            <div class="form-group">
                                                <label class="text-label">
                                                    발효조 이름
                                                </label>
                                                <input
                                                    type="text"
                                                    id="fermentationName"
                                                    class="form-control"
                                                    placeholder=""
                                                    required
                                                    readonly
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a
                                type="button"
                                class="btn btn-primary"
                                id="createBatchButton"
                            >
                                Create Batch
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function populateRecipeDetails() {
        const select = document.getElementById('recipeSelect');
        const selectedOption = select.options[select.selectedIndex];

        document.getElementById('recipeName').value =
            selectedOption.getAttribute('data-name') || '';
        document.getElementById('recipeInfo').value =
            selectedOption.getAttribute('data-info') || '';
        document.getElementById('productName').value =
            selectedOption.getAttribute('data-product') || '';
    }

    function populateFermenterDetails() {
        const select = document.getElementById('fermenterSelect');
        const selectedOption = select.options[select.selectedIndex];

        document.getElementById('fermentationSize').value =
            selectedOption.getAttribute('data-volume') || '';
        document.getElementById('fermentationName').value =
            selectedOption.getAttribute('data-line') || '';
    }

    document
        .getElementById('createBatchButton')
        .addEventListener('click', function () {
            const recipeSelect = document.getElementById('recipeSelect');
            const fermenterSelect = document.getElementById('fermenterSelect');

            const recipeId = recipeSelect.selectedIndex;
            const fermenterId = fermenterSelect.selectedIndex;
            console.log('Selected Recipe ID:', recipeId);
            console.log('Selected Fermenter ID:', fermenterId);

            let isValid = true;

            // 발효조 선택 상태 확인
            if (!fermenterId) {
                $('#fermenterSelect').css({
                    background: 'rgb(251, 227, 228)',
                    border: '1px solid #fbc2c4',
                    color: '#8a1f11',
                });
                isValid = false;
            }

            // 레시피 선택 상태 확인
            if (!recipeId) {
                $('#recipeSelect').css({
                    background: 'rgb(251, 227, 228)',
                    border: '1px solid #fbc2c4',
                    color: '#8a1f11',
                });
                isValid = false;
            }

            // Select 창 클릭시 색깔 초기화
            $('#fermenterSelect, #recipeSelect').on('focus', function () {
                $(this).css({
                    background: '',
                    border: '',
                    color: '',
                });
            });
            if (!recipeId || !fermenterId) {
                alert('레시피와 발효조를 선택하세요.');
                return;
            }

            // Send data to the server
            fetch('./create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    recipe_id: recipeId,
                    fermenter_id: fermenterId,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        alert('Batch created successfully');
                        window.location.href = '/dashboard';
                        // Optionally redirect or clear form
                    } else {
                        alert(
                            'Error creating batch: ' +
                                (data.error || 'Unknown error'),
                        );
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('An error occurred while creating the batch');
                });
        });

    // 발효조 추가 함수
    function submitFermenter() {
        const fermenterLine =
            document.getElementById('fermenterLineInput').value;
        const fermenterVolume = document.getElementById(
            'fermenterVolumeInput',
        ).value;

        if (!fermenterLine || !fermenterVolume) {
            alert('발효조 라인과 크기를 입력하세요.');
            return;
        }

        fetch('/fermenter/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                fermenter_line: fermenterLine,
                fermenter_volume: fermenterVolume,
            }),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.success) {
                    alert('발효조가 추가되었습니다.');

                    // 발효조 선택 창에 새 발효조 추가
                    const fermenterSelect =
                        document.getElementById('fermenterSelect');
                    const newOption = document.createElement('option');
                    newOption.value = data.fermenter.id; // 서버에서 반환된 새 발효조 ID
                    newOption.setAttribute(
                        'data-volume',
                        data.fermenter.fermenter_volume,
                    );
                    newOption.setAttribute(
                        'data-line',
                        data.fermenter.fermenter_line,
                    );
                    newOption.textContent = data.fermenter.fermenter_line;

                    fermenterSelect.appendChild(newOption);

                    // 모달 닫기 및 입력 필드 초기화
                    $('#fermenterModal').modal('hide');
                    document.getElementById('fermenterForm').reset();
                } else {
                    alert('발효조 추가 중 오류 발생: ' + data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('발효조 추가 중 오류가 발생했습니다.');
            });
    }

    function addIngredientField() {
        const ingredientFields = document.getElementById('ingredientFields');

        const newField = document.createElement('div');
        newField.classList.add('form-group', 'row', 'mt-2'); // 'mt-2'로 각 필드 간에 간격 추가
        newField.innerHTML = `
        <div class="col-5">
            <input type="text" class="form-control" placeholder="원재료 이름" />
        </div>
        <div class="col-5">
            <input type="text" class="form-control" placeholder="사용량" />
        </div>
        <div class="col-2 d-flex align-items-end">
            <button type="button" class="btn btn-danger" onclick="removeIngredientField(this)">-</button>
        </div>
    `;

        // 새로운 원재료 필드를 기존 필드 아래에 추가
        ingredientFields.appendChild(newField);
    }
    function removeIngredientField(button) {
        const fieldGroup = button.closest('.form-group');
        fieldGroup.remove();
    }
</script>
